<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration Form</title>
  <!-- Link to your existing CSS file -->
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

  <header>
    <div class="container">
      <div class="logo">
        <img src="images/00_Icon.png" alt="Hero">
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (typeof UserID !=='undefined' && UserID) { %>
            <li><a href="/dashboard"> Hello, !USER!</a></li>
            <li><a href="/logout">Log Out</a></li>
            <% } else { %>
              <% } %>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Registration Form Section -->
  <section class="container register-section">
    <h2 class="form-title">New User Registration</h2>
    <form action="/register" method="POST" class="registration-form">

      <div class="form-group">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" id="firstName" name="firstName" class="form-input" required />
      </div>

      <div class="form-group">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-input" required />
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-input" required />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" class="form-input" required />
      </div>

      <button type="submit" class="form-button">Register</button>
    </form>
  </section>

</body>

</html>